@use 'src/styles' as *;

$top-bar-height: 138px;

.Results {
  display: flex;
  height: calc(100vh - #{$top-bar-height});

  & > *:first-child {
    flex: 3 0;
  }

  & > *:last-child {
    flex: 4 0;
  }
}
